---
import "../styles/global.css";
import { Font } from "astro:assets";
---

<!DOCTYPE html>
<html lang="tr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Colour Palette</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-inter" preload />
		<Font cssVariable="--font-space-grotesk" />
		
	</head>
	<body>
		<div class="bg-theme-50 py-12 mt-12 text-center mt-12">bg-theme-50</div>
		<div class="bg-theme-100 py-12 mt-12 text-center mt-12">bg-theme-100</div>
		<div class="bg-theme-200 py-12 mt-12 text-center mt-12">bg-theme-200</div>
		<div class="bg-theme-300 py-12 mt-12 text-center mt-12">bg-theme-300</div>
		<div class="bg-theme-400 py-12 mt-12 text-center mt-12">bg-theme-400</div>
		<div class="bg-theme-500 py-12 mt-12 text-center mt-12">bg-theme-500</div>
		<div class="bg-theme-600 py-12 mt-12 text-center mt-12">bg-theme-600</div>
		<div class="bg-theme-700 py-12 mt-12 text-center mt-12">bg-theme-700</div>
		<div class="bg-theme-800 py-12 mt-12 text-center mt-12">bg-theme-800</div>
		<div class="bg-theme-900 py-12 mt-12 text-center mt-12">bg-theme-900</div>
		<div class="bg-theme-950 py-12 mt-12 text-center mt-12">bg-theme-950</div>
	</body>
</html>